force-app/main/default/flows/SDO_Service_Repair_Eligibility.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Eligibility</name>
        <label>Eligibility</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <actionName>SDO_Service_Repair_Eligibility</actionName>
        <actionType>runExpressionSet</actionType>
        <connector>
            <targetReference>Copy_Determination</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>PostalCode</name>
            <value>
                <elementReference>Get_Asset.Account.BillingPostalCode</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>YearsInstalled</name>
            <value>
                <elementReference>vEligibleYears</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SDO_Service_Repair_Eligibility</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Open_Work_Order</name>
        <label>Open Work Order</label>
        <locationX>50</locationX>
        <locationY>1322</locationY>
        <actionName>c:OpenSObject</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObject</name>
            <value>
                <elementReference>Work_Order</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:OpenSObject</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_Follow_Up</name>
        <label>Send Email Follow-Up</label>
        <locationX>314</locationX>
        <locationY>1106</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Get_Case.Contact.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Repair Eligibility for Your {!Get_Asset.Name}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>The nearest eligible repair location for you is {!Eligibility.SDO_Service_Third_Party_Repair_Locations__EntityName} located at {!Eligibility.SDO_Service_Third_Party_Repair_Locations__EntityAddress}. Please contact them at 555-555-1234 in order to schedule your repair. Thank you! - Your Cirrus Team</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>Get_Case.ContactId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Calculate_Years</name>
        <label>Calculate Years</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>vEligibleYears</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fYearsCalc</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Eligibility</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_Determination</name>
        <label>Copy Determination</label>
        <locationX>182</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>vDetermination</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Eligibility.SDO_Service_Age_Based_Entitlements__RepairResource</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Write_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Define_Distributor</name>
        <label>Define Distributor</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>vDistributor</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Acme Partners</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Calculate_Years</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Actions</name>
        <label>Actions</label>
        <locationX>182</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>Send_Email_Follow_Up</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Schedule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vSchedule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Service_Territory_Id</targetReference>
            </connector>
            <label>Schedule</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>fYearsCalc</name>
        <dataType>Number</dataType>
        <expression>MIN(
    3,
    MAX(
        1,
        IF(
            DATE(YEAR(TODAY()), MONTH({!Get_Asset.PurchaseDate}), DAY({!Get_Asset.PurchaseDate})) &gt; TODAY(),
            YEAR(TODAY()) - YEAR({!Get_Asset.PurchaseDate}) - 1,
            YEAR(TODAY()) - YEAR({!Get_Asset.PurchaseDate})
        )
    )
)</expression>
        <scale>1</scale>
    </formulas>
    <interviewLabel>SDO Service - Repair Eligibility {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SDO Service - Repair Eligibility</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Work_Order</name>
        <label>Work Order</label>
        <locationX>50</locationX>
        <locationY>1214</locationY>
        <connector>
            <targetReference>Open_Work_Order</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Asset.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City</field>
            <value>
                <stringValue>San Francisco</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Get_Case.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country</field>
            <value>
                <stringValue>USA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LocationId</field>
            <value>
                <elementReference>Get_Asset.LocationId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PostalCode</field>
            <value>
                <stringValue>94105</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Low</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceTerritoryId</field>
            <value>
                <elementReference>Get_Service_Territory_Id.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State</field>
            <value>
                <stringValue>CA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street</field>
            <value>
                <stringValue>50 Fremont St</stringValue>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Asset</name>
        <label>Get Asset</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Define_Distributor</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case.Asset.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Asset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Case</name>
        <label>Get Case</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Asset</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Territory_Id</name>
        <label>Get Service Territory Id</label>
        <locationX>50</locationX>
        <locationY>1106</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Work_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>*San Francisco</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceTerritory</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Write_Status</name>
        <label>Write Status</label>
        <locationX>182</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Repair_Eligibility</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Asset.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SDO_Service_Warranty_Services__c</field>
            <value>
                <elementReference>Eligibility.Determination</elementReference>
            </value>
        </inputAssignments>
        <object>Asset</object>
    </recordUpdates>
    <screens>
        <name>Repair_Eligibility</name>
        <label>Repair Eligibility</label>
        <locationX>182</locationX>
        <locationY>890</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Actions</targetReference>
        </connector>
        <fields>
            <name>text1</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;The asset is eligible for repair by the &lt;/span&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;{!Eligibility.SDO_Service_Age_Based_Entitlements__RepairResource}&lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>agent1</name>
            <extensionName>agentScript:agentScript</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>script</name>
                <value>
                    <stringValue>The nearest eligible repair location for you is {!Eligibility.SDO_Service_Third_Party_Repair_Locations__EntityName} located at {!Eligibility.SDO_Service_Third_Party_Repair_Locations__EntityAddress}. Would you like me to send you more information?</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>vDetermination</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Third Party</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>agent2</name>
            <extensionName>agentScript:agentScript</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>script</name>
                <value>
                    <stringValue>Your device is eligible for service by the {!vDetermination}, {!vDistributor}. I can connect you with them or schedule a repair.</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>vDetermination</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Distributor</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>agent3</name>
            <extensionName>agentScript:agentScript</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>script</name>
                <value>
                    <stringValue>You are eligible for manufacturer service. Would you like to schedule now or receive a follow-up notification?</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>vDetermination</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Manufacturer</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Repair_Eligibility_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Repair_Eligibility_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>button1</name>
                    <extensionName>runtime_industries_lending:flowButton</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>buttonLabel</name>
                        <value>
                            <stringValue>Follow-Up</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>renderNext</name>
                        <value>
                            <elementReference>vFollowUp</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>vFollowUp</assignToReference>
                        <name>renderNext</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Repair_Eligibility_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>button2</name>
                    <extensionName>runtime_industries_lending:flowButton</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>buttonLabel</name>
                        <value>
                            <stringValue>Schedule</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>renderNext</name>
                        <value>
                            <elementReference>vSchedule</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>vSchedule</assignToReference>
                        <name>renderNext</name>
                    </outputParameters>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>vDetermination</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Manufacturer</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>vDetermination</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Distributor</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Case</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vDetermination</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vDistributor</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vEligibleYears</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>1</scale>
    </variables>
    <variables>
        <name>vFollowUp</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vSchedule</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
