force-app/main/default/flows/SDO_Service_Repair_Eligibility_Calculation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Eligibility</name>
        <label>Eligibility</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <actionName>SDO_Service_Repair_Eligibility</actionName>
        <actionType>runExpressionSet</actionType>
        <connector>
            <targetReference>Write_Status</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>PostalCode</name>
            <value>
                <elementReference>$Record.Account.BillingPostalCode</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>YearsInstalled</name>
            <value>
                <elementReference>vEligibleYears</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SDO_Service_Repair_Eligibility</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Calculate_Years</name>
        <label>Calculate Years</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignmentItems>
            <assignToReference>vEligibleYears</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fYearsCalc</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Eligibility</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>fYearsCalc</name>
        <dataType>Number</dataType>
        <expression>MIN(
    3,
    MAX(
        1,
        IF(
            DATE(YEAR(TODAY()), MONTH({!$Record.PurchaseDate}), DAY({!$Record.PurchaseDate})) &gt; TODAY(),
            YEAR(TODAY()) - YEAR({!$Record.PurchaseDate}) - 1,
            YEAR(TODAY()) - YEAR({!$Record.PurchaseDate})
        )
    )
)</expression>
        <scale>1</scale>
    </formulas>
    <interviewLabel>SDO Service - Repair Eligibility Calculation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SDO Service - Repair Eligibility Calculation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Write_Status</name>
        <label>Write Status</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SDO_Service_Warranty_Services__c</field>
            <value>
                <elementReference>Eligibility.Determination</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Calculate_Years</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PurchaseDate</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>InstallDate</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Asset</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vEligibleYears</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>1</scale>
    </variables>
</Flow>
