force-app/main/default/flows/Torm_OS.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <actionName>NewAccount</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>Subflow_yo</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Name</name>
            <value>
                <elementReference>No_descr</elementReference>
            </value>
        </inputParameters>
        <label>AccAction</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <name>AccAction</name>
        <nameSegment>NewAccount</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <actionName>Branch__c.EmailAlertOnBranchUpdate</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>The_loop</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <label>GAI</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <name>GAI</name>
        <nameSegment>Branch__c.EmailAlertOnBranchUpdate</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <actionName>NewNote</actionName>
        <actionType>quickAction</actionType>
        <description>1r23`f 3we@!)*$gwvrg~</description>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Title</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <label>Make a note</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <name>Make_a_note</name>
        <nameSegment>NewNote</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <actionName>Snapshot__c.EmailAlertOnSnapshotCompletion</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Error_BTW</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Deployment_Path__r.CreatedBy.Account.CreatedBy.Account.CreatedBy.Account.CreatedBy.AccountId</elementReference>
            </value>
        </inputParameters>
        <label>Send Email FAST</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <name>Send_Email_FAST</name>
        <nameSegment>Snapshot__c.EmailAlertOnSnapshotCompletion</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <actionName>Metadata_Log__c.EmailAlertOnPatchDeployment</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>The_loop</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Pipeline__c</elementReference>
            </value>
        </inputParameters>
        <label>SendLoopEmail</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <name>SendLoopEmail</name>
        <nameSegment>Metadata_Log__c.EmailAlertOnPatchDeployment</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <assignmentItems>
            <assignToReference>Pig</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Pig</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AccAction</targetReference>
        </connector>
        <label>Assignment pro max uber</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <name>Assignment_pro_max_uber</name>
    </assignments>
    <customErrors>
        <customErrorMessages>
            <errorMessage>{!Make_a_note}</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
        <label>Custom Error Message 2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <name>Custom_Error_Message_2</name>
    </customErrors>
    <customErrors>
        <connector>
            <targetReference>Check_descr</targetReference>
        </connector>
        <customErrorMessages>
            <errorMessage>{!Make_a_note}</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
        <label>Error BTW</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <name>Error_BTW</name>
    </customErrors>
    <customErrors>
        <connector>
            <targetReference>SendLoopEmail</targetReference>
        </connector>
        <customErrorMessages>
            <errorMessage>{!Pig}Sas</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
        <description>~2r323`3g4g</description>
        <label>Loop Error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <name>Loop_Error</name>
    </customErrors>
    <decisions>
        <defaultConnector>
            <targetReference>GAI</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <description>9 $^&amp;(%#&amp;@#0 0` 3490 42</description>
        <label>Check descr</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <name>Check_descr</name>
        <rules>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Branch_Description__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decision_2</targetReference>
            </connector>
            <label>Has descr</label>
            <name>Has_descr</name>
        </rules>
        <rules>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Branch_Description__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_record</targetReference>
            </connector>
            <label>No descr</label>
            <name>No_descr</name>
        </rules>
    </decisions>
    <decisions>
        <defaultConnector>
            <targetReference>Make_a_note</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <label>Decision 2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <name>Decision_2</name>
        <rules>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_prod</targetReference>
            </connector>
            <label>Decision great gain</label>
            <name>Decision_great_gain</name>
        </rules>
        <rules>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.Latitude</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$User.Latitude</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_pro_max_uber</targetReference>
            </connector>
            <label>Outcome 2 of Decision 2</label>
            <name>Outcome_2_of_Decision_2</name>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Torm OS {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Torm OS</label>
    <loops>
        <collectionReference>Pig</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <label>The loop</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <name>The_loop</name>
        <nextValueConnector>
            <targetReference>Create_apach</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <connector>
            <targetReference>Loop_Error</targetReference>
        </connector>
        <inputReference>$Record</inputReference>
        <label>Create apach</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <name>Create_apach</name>
    </recordCreates>
    <recordDeletes>
        <connector>
            <targetReference>Check_deleted_records</targetReference>
        </connector>
        <description>Joke haha</description>
        <faultConnector>
            <targetReference>Transform_1</targetReference>
        </faultConnector>
        <inputReference>$Record</inputReference>
        <label>Delete prod</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <name>Delete_prod</name>
    </recordDeletes>
    <recordLookups>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Subflow_yo</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <label>Check deleted records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <name>Check_deleted_records</name>
        <object>ApexClass</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <connector>
            <targetReference>Save_and_save</targetReference>
        </connector>
        <description>!@3`rwgewrgwg~`gfew</description>
        <inputAssignments>
            <field>Pipeline__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
        <label>Update record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <name>Update_record</name>
    </recordUpdates>
    <start>
        <connector>
            <targetReference>Send_Email_FAST</targetReference>
        </connector>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <object>Branch__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <subflows>
        <connector>
            <targetReference>The_loop</targetReference>
        </connector>
        <flowName>standard_approvals__ChkFlowApiName</flowName>
        <label>Save and save</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <name>Save_and_save</name>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <connector>
            <targetReference>The_loop</targetReference>
        </connector>
        <flowName>standard_approvals__ChkFlowApiName</flowName>
        <label>Subflow yo</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <name>Subflow_yo</name>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <transforms>
        <connector>
            <targetReference>Custom_Error_Message_2</targetReference>
        </connector>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <label>Transform 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <name>Transform_1</name>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <transformType>Map</transformType>
                <value>
                    <stringValue>$GlobalConstant.True</stringValue>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <name>Pig</name>
    </variables>
</Flow>
